<div fxLayout="column" fxLayoutGap="24px" >
  <a fxLayoutAlign="start center" fxHide fxShow.gt-xs mat-button routerLink="privacy-policy" routerLinkActive="active">
    Privacy Policy
  </a>
  <a fxLayoutAlign="start center" fxHide fxShow.gt-sm mat-button routerLink="data-security" routerLinkActive="active">
    Data Security
  </a>
  <a fxLayoutAlign="start center" fxHide fxShow.gt-md mat-button routerLink="terms-and-conditions"
    routerLinkActive="active">
    Terms and conditions
  </a>
  <a fxLayoutAlign="start center" fxHide fxShow.gt-md mat-button routerLink="cookie-policy" routerLinkActive="active">
    Cookie Policy
  </a>

</div>
