.shell {
  padding: 0;
  margin: 0;
  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
  width: 100%;
  background-color: #fff;
}
.outlet {
  height: 100%;
  width: 100%;
  background-color: darkgray;
}
